/* common css */
/* ====================== */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}


.btn:focus{
    outline: none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* logo css */
/* =================== */

.logo{
    color: #000;
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    margin: 0 0 20px;
}


/* admin login form css */
/* ==================================== */

.login-form{
    background: linear-gradient(30deg,#e9e9e9 49%, #e4e4e4 50%);
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
    border-radius: 50px;
    padding: 50px 40px;
    margin: 100px 0 0;
    text-align: center;    
}

.login-form .form-group{
    text-align: left;
}
.login-form label{
    width: 25%;
    display: inline-block;
}
.login-form .form-control{
    width: 74%;
    display: inline-block;
    border: none;
    padding: 15px 15px;
    height: 50px;
    border-radius: 20px;
}
.login-form .form-control:focus{
    border: none;
    box-shadow: 3px 3px 5px #999;
}
.login-form .form-control::placeholder{
    color: #999;
    text-transform: capitalize;
}

.login-form .btn{
    padding: 7px 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    background-color: #e93700;
    transition: all 0.3s;
}

.login-form .btn:hover,
.login-form .btn:focus{
    background-color: #333;
}

/* admin header css */
/* ========================= */

#admin-header{
    background: linear-gradient(to bottom, #033E3E, #033E3E);
    padding: 10px 0 8px;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    position: relative;
    z-index: 1;
}
.logo {
    color: white;
    font-size: 24px;
    margin-left: 40px;

}
.logo:hover{
   color: rgba(255,255,255,0.2);
    
}

#admin-header .logo-img{
    display: block;
}
#admin-header .logo-img img{
    width: 100%;
}

#admin-header .dropdown{
    text-align: right;   
}
#logout{
    background-color: red;
}

#admin-header .logout{
    color: #fff;
    background-color: #e93700;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4px 15px;
    margin: 5px 0;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s;
}

#admin-header .logout:hover{
    background-color: #333;
    box-shadow: 0 0 5px #333;
}

/* admin wrapper css */
/* ===================== */

#admin-wrapper{
    /* border: 1px solid #000; */
    min-height: 700px;
}


/* admin menu css */
/* ===================== */

#admin-menu{    
    background-color: #033E3E !important;
    padding: 20px 10px;
    min-height: 700px;
}
#admin-menu .menu-list li a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s;
}

#admin-menu .menu-list li.active a,
#admin-menu .menu-list li a:hover{
    background-color: rgba(255,255,255,0.2);
   
}

